/* html alt box sizing boilerplate */
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* some sans serif font family */
    font-family: Arial, Helvetica, sans-serif;
}

.header,
.footer {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    align-items: center;
}

.navbar,
.hero {
    display: flex;
    /* absolute (unresponsive) values for width so navbar and hero sections align */
    width: 800px;
}
.navbar {
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    
}

.navbar-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    /* remove default ul margin values */
    margin: 0;
    gap: 16px
}

a,
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}
