/* html alt box sizing boilerplate */
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* some sans serif font family */
    font-family: Arial, Helvetica, sans-serif;
}

.header,
.footer {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    align-items: center;
}

.navbar,
.hero {
    display: flex;
    width: 65%;
}
.navbar {
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
    
}

.navbar-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0; /* remove default ul margin values */
    gap: 16px
}

a,
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.hero {
    margin: 6% 3%;
    gap: 10%;
}

.left-hero,
.right-hero {
    flex: 1;
}

.hero-main-text,
.hero-secondary-text {
    margin: 0;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button {
    border-radius: 4px;
    background: #3882F6;
    color:white;
    padding: 2% 7%;
    margin-top: 2%;
    border: none;
}

.right-hero {
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content,
.information,
.information-subsection,
.information-content{
    display: flex;
}

.content,
.information,
.information-content {
    flex-direction: column;
    align-items: center;
}

.information {
    width: 50%;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.information-subsection {
    gap: 1%;
    margin-bottom: 9%;
}

.information-subsection p {
    text-align: center;
}

.information-illustration {
    outline: 2px solid #3882F6;
    border-radius: 4px;
    padding: 40%;
}

.quotes {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quotes-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    margin: 3% 0;
}
.quotes p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quotes strong {
    align-self: flex-end;
}

.cta,
.cta-banner,
.cta-left,
.cta-right {
    display: flex;
}

.cta,
.cta-banner,
.cta-right {
    justify-content: center;
    align-items: center;
}

/* I have no idea why this div is not filling the page width without explicitly setting it to 100% */
.cta {
    width: 100%;
}

.cta-banner {
    background-color: #3882F6;
    border-radius: 4px;
    margin: 6% 0;
    width: 65%;
}

.cta-left,
.cta-right {
    flex-direction: column;
    flex: 1 1 0; 
    margin: 3% 12%; 
    overflow: hidden; 
}

.cta-left h3,
.cta-left p {
    margin: 0;
}

.cta-left h3,
.cta-left p {
    color: #F9FAF8;
}

.cta-left p {
    display: inline-block;
    overflow: hidden; 
    white-space: nowrap; 
}

.cta-right button {
    border: 2px solid #F9FAF8;
    max-width: 100%; /* Ensure button doesn't overflow parent */
    width: 100%; /* Responsive width */
    margin: 0%; /* Adjust margin as needed */
}

.footer span {
    color: #E5E7EB;
    margin: 1% 0;
}